// -*- mode: less-css -*-
/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*

  Includes some customizations from
  https://react.semantic-ui.com/theming/.

 */

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

@default-theme: 'default';

/* Global */
@site        : @default-theme;
@reset       : @default-theme;

/* Elements */
@button      : @default-theme;
@container   : @default-theme;
@divider     : @default-theme;
@flag        : @default-theme;
@header      : @default-theme;
@icon        : @default-theme;
@image       : @default-theme;
@input       : @default-theme;
@label       : @default-theme;
@list        : @default-theme;
@loader      : @default-theme;
@placeholder : @default-theme;
@rail        : @default-theme;
@reveal      : @default-theme;
@segment     : @default-theme;
@step        : @default-theme;

/* Collections */
@breadcrumb  : @default-theme;
@form        : @default-theme;
@grid        : @default-theme;
@menu        : @default-theme;
@message     : @default-theme;
@table       : @default-theme;

/* Modules */
@accordion   : @default-theme;
@checkbox    : @default-theme;
@dimmer      : @default-theme;
@dropdown    : @default-theme;
@embed       : @default-theme;
@modal       : @default-theme;
@nag         : @default-theme;
@popup       : @default-theme;
@progress    : @default-theme;
@rating      : @default-theme;
@search      : @default-theme;
@shape       : @default-theme;
@sidebar     : @default-theme;
@sticky      : @default-theme;
@tab         : @default-theme;
@transition  : @default-theme;

/* Views */
@ad          : @default-theme;
@card        : @default-theme;
@comment     : @default-theme;
@feed        : @default-theme;
@item        : @default-theme;
@statistic   : @default-theme;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '../../src/semantic-ui/site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";
@fontPath : '../../../themes/@{theme}/assets/fonts';

/* End Config */
