.root {
  text-align: center;
}

/* $pink: #e03997; */
/* $blue: #0d71bb; */

.dialButton {
  text-align: left !important;
}

.dialWrapper {
  position: relative;
  height: 100%;
  display: inline-block;
  float: right;
}

.dialText {
  display: inline-block;
}

.dial {
  position: absolute;
  width: 1em;
  > image {
    height: 100%;
    width: 1em;
  }

  $numClicks: 8;
  @for $i from 0 to $numClicks {
    &.rotate-#{$i} {
      transform: translateX(-25%) scale(1.7) rotate($i * (360deg / $numClicks));
    }
  }
}