.root {
  text-align: center;
}

$pink: #e03997;
$blue: #0d71bb;

.dialWrapper {
  position: relative;
  height: 100%;

}

.dial {
  /* $dimension: 2em; */
  /* $font-size: 1em; */

  /* margin: auto; */
  /* background: #1b1c1d; */
  /* max-width: $dimension; */
  /* max-height: $dimension; */
  /* padding: ($dimension - $font-size) / 2; */
  /* height: 100%; */
  /* border-radius: 100%; */
  /* font-size: 2rem; */
  color: $blue;
  fill: currentColor;

  position: absolute;
  /* height: 200%; */
  /* top: -50%; */
  &.active {
    color: $pink;
  }

  $numClicks: 8;
  @for $i from 0 to $numClicks {
    &.rotate-#{$i} {
      transform: translateX(-25%) scale(1.7) rotate($i * (360deg / $numClicks));
    }
  }
}